[submodule "neovim.config"]
	path = neovim.config
	url = https://github.com/gica4343/neovim.config.git
[submodule "tmux.config"]
	path = tmux.config
	url = https://github.com/gica4343/tmux.config.git
[submodule "alacritty.conf"]
	path = alacritty.conf
	url = https://github.com/gica4343/alacritty.conf.git
[submodule "zshrc"]
	path = zshrc
	url = https://github.com/gica4343/zshrc.git
