[submodule "neovim.config"]
	path = neovim.config
	url = https://github.com/gica4343/neovim.config.git
[submodule "tmux.config"]
	path = tmux.config
	url = https://github.com/gica4343/tmux.config.git
